---
---

@import "jekyll-theme-midnight";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

.bold-title {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;

}

// UTILITY
.mt-1 {
  margin-top: 1rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}

// TYPOGRAPHY
p, a {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 2.1rem;
}

// Side Navigation
nav#side-toc {

  position: fixed;
  left: 0;
  padding-left: 1rem;
  
}

//>> CODE HIGHLIGHT SECTIONS:
pre.highlight {
  padding: 15px;
}
pre.highlight code {
  text-wrap: wrap;
}
//<< CODE HIGHLIGHT SECTIONS:

//>> SIDE NAVIGATION (ToC) RESPONSIVENESS
nav#side-toc{
  width: 20vw;
  padding-left: 0.75rem
}
nav#side-toc > ul{
  padding-left: 0;
}
nav#side-toc > ul > li {
  padding: 5px ;
  border-bottom: 1px solid gray;
}
nav#side-toc > ul > li > p,
nav#side-toc > ul > li > a {
  font-size: 1rem; /* base size */
}
//<< SIDE NAVIGATION (ToC) RESPONSIVENESS

// <summary> Styling
summary {
  display: list-item;
}
summary > h2,
summary > h3 {
  display: inline-block;
  cursor: pointer;
}
summary>h2 {
  font-size: 1.5rem;
}
summary > h3:hover {
  color: white;
}
details summary + h3 {
  margin-top: 1rem;
}
details summary { 
  cursor: pointer;
  border: 1px solid gray;
  padding: 1rem 0 1rem 1rem;
  border-left: 4px solid #ffcc00;
  background: #343333;
}

details summary > * {
  display: inline;
}

// BLOCK QUOTES:
blockquote {
  font-style: inherit;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 1rem 0;
  border-left: 3px solid #3e3c3c;
}
blockquote p {
  margin-bottom: auto;
  color: #B7AFAA;
  font-size: 1rem;
}

ul {
  list-style: disc;
}

code {
  font-size: 1rem;
  color: #ef6200;
  margin: 0;
  padding: 4px;
}

.credits-highlighted {
  color: #c6a213 !important;
}

section.main-section {
  margin-top: 1rem;
}

.ctrl-back-forward {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.ctrl-back-forward > div {
  cursor: pointer;
  opacity: 0.75;
  transition: all 150ms ease;
}
.ctrl-back-forward > div:hover {
  opacity: 1;
}

.summary-day {
  color: #9d9c9c;
}