a:link {
	color: orange;
}

a:visited {
	color: green;
}

a:hover {
	text-decoration: none;
}

p:first-child {
	font-size: 150%;
}

.container:first-child::first-line {
	color: red;
}

tr:nth-child(even) {
	background-color: #333;
	color: white;
}