.container {
	background-color: grey;
	border: red solid 2px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(6, 1fr);
	width: 1000px;
	height: 600px;
}

.container div {
	border: 5px solid black;
	display: grid;
	place-items: center;
}

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}
.purple {
	background-color: purple;
}
.orange {
	background-color: orange;
}

.container #a1 {
	grid-column: 1 / span 1 ;
	grid-row: 3 / span 1;
}
.container #a2 {
	grid-column: 2 / span 1 ;
	grid-row: 3 / span 1;
}
.container #a3 {
	grid-column: 1 / span 1 ;
	grid-row: 4 / span 1;
}
.container #a4 {
	grid-column: 2 / span 1 ;
	grid-row: 4 / span 1;
}
.container #a5 {
	grid-column: 1 / span 1 ;
	grid-row: 5 / span 1;
}
.container #a6 {
	grid-column: 2 / span 1 ;
	grid-row: 5 / span 1;
}
.container #a7 {
	grid-column: 2 / span 1 ;
	grid-row: 6 / span 1;
}
.container #a8 {
	grid-column: 3 / span 1 ;
	grid-row: 6 / span 1;
}
.container #a9 {
	grid-column: 1 / span 1 ;
	grid-row: 6 / span 1;
}
.container #a10 {
	grid-column: 5 / span 1 ;
	grid-row: 2 / span 1;
}
.container #a11 {
	grid-column: 5 / span 1 ;
	grid-row: 3 / span 1;
}
.container #a12 {
	grid-column: 5 / span 1 ;
	grid-row: 4 / span 1;
}
.container #a13 {
	grid-column: 4 / span 1 ;
	grid-row: 3 / span 1;
}
.container #a14 {
	grid-column: 5 / span 1 ;
	grid-row: 5 / span 1;
}
.container #a15 {
	grid-column: 4 / span 1 ;
	grid-row: 5 / span 1;
}
.container #a16 {
	grid-column: 6 / span 1 ;
	grid-row: 5 / span 1;
}
.container #a17 {
	grid-column: 6 / span 1 ;
	grid-row: 6 / span 1;
}
.container #a18 {
	grid-column: 5 / span 1 ;
	grid-row: 6 / span 1;
}
.container #a19 {
	grid-column: 7 / span 1 ;
	grid-row: 2 / span 1;
}
.container #a20 {
	grid-column: 8 / span 1 ;
	grid-row: 2 / span 1;
}
.container #a21 {
	grid-column: 7 / span 1 ;
	grid-row: 3 / span 1;
}
.container #a22 {
	grid-column: 8 / span 1 ;
	grid-row: 3 / span 1;
}
.container #a23 {
	grid-column: 7 / span 1 ;
	grid-row: 4 / span 1;
}
.container #a24 {
	grid-column: 7 / span 1 ;
	grid-row: 5 / span 1;
}
.container #a25 {
	grid-column: 7 / span 1 ;
	grid-row: 6 / span 1;
}
.container #a26 {
	grid-column: 9 / span 1 ;
	grid-row: 4 / span 1;
}
.container #a27 {
	grid-column: 9 / span 1 ;
	grid-row: 5 / span 1;
}
.container #a28 {
	grid-column: 10 / span 1 ;
	grid-row: 5 / span 1;
}
.container #a29 {
	grid-column: 9 / span 1 ;
	grid-row: 6 / span 1;
}
.container #a30 {
	grid-column: 10 / span 1 ;
	grid-row: 6 / span 1;
}