node_modules
.prettierignore
.DS_Store
.vscode
.next/
# kostasx section:
.gitattributes
CURRICULUM.x 
.personal/
teaching/cohorts

curriculum/modules/**/denepo/**/*.mp4

# Local Jekyll Build:
_site/
Gemfile
Gemfile.lock
.sass-cache/
.jekyll-metadata