[submodule "curriculum/modules/javascript/denepo/inside-js"]
	path = curriculum/modules/javascript/denepo/inside-js
	url = git@github.com:in-tech-gration/inside-js.git
[submodule "curriculum/modules/javascript/denepo/welcome-to-js"]
	path = curriculum/modules/javascript/denepo/welcome-to-js
	url = git@github.com:in-tech-gration/welcome-to-js.git
