body {
background-color: #fff;
color: #333;
font-family: Arial, Helvetica, sans-serif;
padding: 1em;
margin: 0;
}

h1 {
color: hotpink;
font-size: 2em;
font-family: Georgia, 'Times New Roman', Times, serif;
border-bottom: 10px dotted purple;
}

h2 {
font-style: italic;
font-size: 1.5em;
}

ul {
	background-color: #eeeeee;
	border: purple 5px solid;
	padding: 10px;
}

.job-title {
color: #999999;
font-weight: bold;
}

a:link,
a:visited {
color: #fb6542;
}

a:hover {
text-decoration: none;
color: green;
}