{% extends  layout %}
{% block  content %}
  <div class="app-wrapper" hidden>

    <header class="ic-header">
      <div class="gutter"></div>
      <h1 class="m-0">{{ message }}</h1>
      <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" checked />
          <div class="slider round"></div>
        </label>
        <em>Enable Dark Mode!</em>
      </div>
    </header>

    {% if tabs %}
      <script id="tabs-json" type="application/json">
        {
          "tabs": {
            {% for item in tabs %}
              {% if loop.last %}
                "{{ item.title }}": "{{ item.URL }}"  
              {% else %}
                "{{ item.title }}": "{{ item.URL }}",  
              {% endif %}
            {% endfor %}
          }
        }
      </script>
    {% endif %}

    {% if links %}
      <section class="quick-links">
        <h4 class="m-0 d-inline-block">Quick links:</h4>
        {% for key, value in links %}
          <a href="{{ value }}" target="_blank">{{ key }}</a>
        {% endfor %}
      </section>
    {% endif %}

    {# <script>
      console.log({{ cohortData | dump | safe }})
    </script> #}
    <main>
      <section
        class="mt-0">
        {# <pre>
          {{ cohortData.cohort_02.students | dump | safe }}
        </pre> 
        #}
        {# <section class="quick-links">
          <h4 class="m-0 d-inline-block">Cohorts:</h4>
          <select id="list-of-cohorts">
            <option value="">Please choose a cohort</option>
            {% for item, cohort in cohortData %}
              <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
          </select>
        </section> #}
        <ul class="student-list">
          {% for key, value in cohortData.cohort_03.students %}
            <li>
              Student:
              <strong>{{ value.fullname }}</strong>
              <strong>@{{ key }}</strong>
              <ul>
                <li>
                  <div class="student-list--inner">
                    <a class="github ic-btn" href="https://github.com/{{ key }}/WDX-180" target="_blank">
                      <i class="icono-folder"></i>GitHub
                    </a>
                    <a class="commits ic-btn" href="https://github.com/{{ key }}/WDX-180/commits/main" target="_blank">
                      <i class="icono-list"></i>Commits
                    </a>
                    <a class="github-page ic-btn" href="https://{{ key }}.github.io/WDX-180" target="_blank">
                      <i class="icono-display"></i>Page
                    </a>
                    <a
                      class="pushes ic-btn"
                      href="https://github.com/{{ key }}/WDX-180/activity?ref=main&activity_type=direct_push&actor={{ key }}"
                      target="_blank">
                      <i class="icono-upArrow"></i>Pushes
                    </a>
                    <a class="progress ic-btn student-progress-btn" href="#{{ key }}">
                      <i class="icono-barChart"></i>Progress
                    </a>
                  </div>
                  <div class="student-list--inner">
                    <a data-studentId="{{ key }}" class="progress ic-btn student-bug-journal-btn" href="https://github.com/{{ key }}/WDX-180/blob/main/user/bug_journal/BUG_JOURNAL.md" target="_blank">
                      <i class="icono-file"></i>Bug Journal
                    </a>
                    <a class="sync ic-btn student-repo-sync" href="#{{ key }}">
                      <i class="icono-sync"></i>Sync
                      <span class="github_info github_behind_by">Behind by:</span>
                      <span class="github_info github_commits">Commits:</span>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
            <section class="student-data hidden" data-student="{{ key }}">
              Student Data:
              <select name="trimester-selection">
                <option value="beginner">Beginner (60)</option>
                <option value="intermediate">Intermediate (120)</option>
                <option value="advanced">Advanced (180)</option>
              </select>
              <select name="week-selection">
                <option>Select Week</option>
                <option value="01">Week 1</option>
                <option value="02">Week 2</option>
                <option value="03">Week 3</option>
                <option value="04">Week 4</option>
                <option value="05">Week 5</option>
                <option value="06">Week 6</option>
                <option value="07">Week 7</option>
                <option value="08">Week 8</option>
                <option value="09">Week 9</option>
                <option value="10">Week 10</option>
                <option value="11">Week 11</option>
                <option value="12">Week 12</option>
              </select>
              <select name="day-selection">
                <option value="all">All Days</option>
                <option value="01" selected>Day 01</option>
                <option value="02">Day 02</option>
                <option value="03">Day 03</option>
                <option value="04">Day 04</option>
                <option value="05">Day 05</option>
              </select>
            </section>
            <section class="student-progress-sheets hidden" data-student="{{ key }}">
              <div class="hidden error mb-1 font-bold"></div>

              {# TODO: PROGRESS SHEET SEARCH & FILTERING #}
              <div class="progress-search--wrapper">
                <label for="progress-search">Search:</label>
                <input type="search" id="progress-search">
              </div>
              {# TODO: PROGRESS SHEET SEARCH & FILTERING #}

              <table></table>
            </section>
          {% endfor %}
        </ul>
      </section>
    </main>

  </div>
{% endblock %}