<!doctype html>
<html  lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="chota.custom.css">

    <link rel="icon" type="image/x-icon" href="/favicon.png">

    {# Source: https://cdn.simplecss.org/simple.min.css #}
    <link rel="stylesheet" href="simple.min.css">

    {# Source: https://saeedalipoor.github.io/icono/ #}
    <link rel="stylesheet" href="icono.min.css">

    <link rel="stylesheet" href="style.css">

    {# Mammoth #}
    <script src="libs/mammoth/mammoth.browser.min.js"></script>

    {# Golden layout #}
    <script src="libs/golden_layout/jquery-1.11.1.min.js"></script>
    <script src="libs/golden_layout/goldenlayout.min.js"></script>
    <link rel="stylesheet" href="libs/golden_layout/goldenlayout-base.css" />
    <link id="gl-dark-theme" rel="stylesheet" href="libs/golden_layout/goldenlayout-dark-theme.css" />
    <link id="gl-light-theme" rel="stylesheet-disabled" href="libs/golden_layout/goldenlayout-light-theme.css" />
    {# Golden layout #}

  </head>
  <body>
    {% block  content %}
    {% endblock %}

    {# Source: https://github.com/okfn/csv.js/ #}
    <script src="csv.min.js"></script>

    <script src="app.js"></script>
  </body>
</html>