* {
  font-family: "Roboto", sans-serif;
  transition: all 600ms ease;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #f0dc27;
  color: #323330;
}
.js:before {
  z-index: -1;
  background: black;
  content: "";
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.js {
  width: 200px;
  height: 200px;
  color: white;
  top: -100px;
  left: -100px;
  position: fixed;
  z-index: 10;
  font-size: 2em;
}
.js:after {
  content: "JS";
  position: absolute;
  bottom: 45px;
  right: 45px;
  font-weight: 300;
}
h1 {
  padding: 20px 20px 20px 40px;
  border-bottom-left-radius: 64px;
  border: 8px dashed white;
}
a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  transition: all 500ms ease;
}
a:hover {
  opacity: 1;
}
code {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: monospace;
}
