$page__background__color: #282828;
$input__text__color: #d0d0d0;
$placeholder__text__color: #767676;
$border__color__default: #4c4c4c;
$border__color__hover: #8f8f8f;
$border__color__focus: #7c9dbd;
$border__color__error: #862e2a;
html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: $page__background__color;
	color: $input__text__color;
	
}
.container {
	display: flex;
	flex-wrap: wrap;
	label {
		flex: 1;
		cursor: pointer;
	}
	input {
		flex: 1;
		border-color: $border__color__default;
		color: $input__text__color;
		max-width: 50em;
		&:hover {
		border-color: $border__color__hover;
		}
		&:focus {
		border-color: $border__color__focus;
		}
		&:valid {
			border-color: $border__color__default;
		}
		&:invalid {
		border-color: $border__color__error;
		}
		&::placeholder {
			color: $placeholder__text__color;
		}
	}
	.instruction__label{
		flex-basis: 100%;
	}
}