html {
  height: 100%;
  width: 100%;
}
/* Create a container for the borders!  */
#player {
  /* border: 2px solid deeppink; */
  width: 100px;
  height: 100px;
}
#opponent {
  /* border: 2px solid orange; */
  width: 100px;
  height: 100px;
}
/* NEW  */
html {
  color-scheme: dark light;
  margin: 0;
}
