 .hidden {
    display: none;
  }
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items:center;
    background: #f0dc27;
    color: #323330;
  }
  button {
    padding: 10px 40px;
    font-size: 1em;
  }
  .js:before{
    z-index:-1;
    background: black;
    content: "";
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top:0;
    left:0;
    width: 100%;
    height:100%;
  }
  .js {
    width:200px;
    height:200px;
    color: white;
    top:-100px;
    left:-100px;
    position: fixed;
    z-index:10;
    font-size:2em;
  }
  .js:after{
    content: "JS";
    position:absolute;
    bottom:45px;
    right:45px;
    font-weight:100;
  }